{% extends 'base.html' %} 
{% load i18n %}
{% load allauth account %}
{% load socialaccount %}

{% block title %}
  Sign In
{% endblock title %}
  
{% block content %}
<div class="flex flex-wrap">
  <div class="flex w-full flex-col md:w-1/2">
    
    <div
      class="mx-auto my-auto flex flex-col justify-center pt-8 md:justify-start md:px-6 md:pt-0 lg:w-[28rem]"
    >
      <p class="text-left text-3xl font-bold">Welcome back</p>
      <p class="mt-2 text-left text-gray-500">
        Welcome back, please enter your details.
      </p>
      {% if SOCIALACCOUNT_ENABLED %}
      <a href="{% provider_login_url 'google' %}" class="google-bg">
        <button
        class="-2 mt-8 flex items-center justify-center rounded-md border px-4 py-1 outline-none ring-gray-400 ring-offset-2 transition hover:border-transparent hover:bg-black hover:text-white focus:ring-2"
      >
        <img
          class="mr-2 h-5"
          src="https://static.cdnlogo.com/logos/g/35/google-icon.svg"
          alt
        />
        Log in with Google
      </button>
      </a>
      {% endif %}
      
      
      <div class="relative mt-8 flex h-px place-items-center bg-gray-200">
        <div
          class="absolute left-1/2 h-6 w-14 -translate-x-1/2 bg-white text-center text-sm text-gray-500"
        >
          or
        </div>
      </div>
     
      
      <form class="flex flex-col pt-3 md:pt-8"  method="post" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% if form.errors %}
    <div class="text-red-500">
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="flex flex-col pt-4">
    <div
      class="relative flex overflow-hidden border-b-2 transition focus-within:border-b-gray-500"
    >
      <input
        type="email"
        id="email"
        name="login"
        class="w-full flex-1 appearance-none border-gray-300 bg-white px-4 py-2 text-base text-gray-700 placeholder-gray-400 focus:outline-none"
        placeholder="Email"
        required
      />
    </div>
  </div>
  <div class="mb-12 flex flex-col pt-4">
    <div
      class="relative flex overflow-hidden border-b-2 transition focus-within:border-b-gray-500"
    >
      <input
        type="password"
        id="password"
        name="password"
        class="w-full flex-1 appearance-none border-gray-300 bg-white px-4 py-2 text-base text-gray-700 placeholder-gray-400 focus:outline-none"
        placeholder="Password"
        required
      />
    </div>
  </div>
  <button
    type="submit"
    class="w-full rounded-lg bg-gray-900 px-4 py-2 text-center text-base font-semibold text-white shadow-md ring-gray-500 ring-offset-2 transition focus:ring-2"
  >
    Log in
  </button>
</form>

    

      <div class="py-12 text-center">
    <p class="whitespace-nowrap text-gray-600">
        If you have not created an account yet, then please
        <a class="font-semibold text-gray-900 underline underline-offset-4" href="{% url 'account_signup' %}">
            Sign up for free.
        </a>
    </p>
</div>

     

    </div>
  </div>
  <div
    class="pointer-events-none relative hidden h-screen select-none bg-black md:block md:w-1/2"
  >
    <div class="absolute bottom-0 z-10 px-8 text-white opacity-100">
      <p class="mb-8 text-3xl font-semibold leading-10">
        We work 10x faster than our compeititors and stay consistant. While
        they're bogged won with techincal debt, we're realeasing new features.
      </p>
      <p class="mb-4 text-3xl font-semibold">John Elmond</p>
      <p class="">Founder, Emogue</p>
      <p class="mb-7 text-sm opacity-70">Web Design Agency</p>
    </div>
    <img
      class="-z-1 absolute top-0 h-full w-full object-cover opacity-90"
      src="https://images.unsplash.com/photo-1565301660306-29e08751cc53?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
    />
  </div>
</div>

{% endblock %}
