{% extends 'base.html' %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block title %}
    Password Reset
{% endblock title %}

{% block content %}
    <div class="max-w-4xl mx-auto bg-gray-50 border-t-[7px] border-blue-500 text-gray-800 rounded-lg font-[sans-serif]" role="alert">
      <div class="px-8 py-6 max-w-4xl">
        <h4 class="font-bold text-lg mb-3">Password Reset</h4>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="text-sm">We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
      </div>
    </div>
{% endblock content %}
    
    