{% extends 'base.html' %} 
{% load i18n %} 
{% load allauth account %} 
{% load static %} 
{% block title %} Sign In {% endblock title %} 
{% block content %}

<!-- component -->
<div class="flex h-screen items-center justify-center bg-gray-100">
  <div class="w-full max-w-sm rounded-lg bg-white p-8 shadow-lg">
    <div class="mb-6 flex items-center space-x-2">
        <svg
            class="w-8 h-8 text-blue-600"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            >
      <h1 class="text-xl font-semibold">Mail me a sign-in code</h1>
    </div>
    <p class="mb-6 text-sm text-gray-600">
      You will receive an email containing a special code for a password-free sign-in.
    </p>
    <form method="post" action="{% url 'account_request_login_code' %}" id="requestLoginCodeForm" class="space-y-6">
        {% csrf_token %}
        {{ redirect_field }}
      <div>
        <label
          for="email"
          class="mb-2 block text-sm font-medium text-gray-700"
          >Email *</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="email-input form-input block w-full rounded-md border border-gray-300 shadow-sm"
          required
        />
      </div>

      <div class="flex justify-between">
        <button
          type="submit"
          class="rounded-md bg-blue-600 px-4 py-2 text-sm font-medium text-white hover:bg-blue-700 focus:border-blue-300 focus:outline-none focus:ring"
        >
          Request Code
        </button>
      </div>
    </form>
    <div class="relative mt-8 flex h-px place-items-center bg-gray-200">
        <div
          class="absolute left-1/2 h-6 w-14 -translate-x-1/2 bg-white text-center text-sm text-gray-500"
        >
          or
        </div>
      </div>
    <a href="{{login_url}}" class="google-bg">
        <button
          class="-2 mt-8 flex items-center justify-center rounded-md border px-4 py-1 outline-none ring-gray-400 ring-offset-2 transition hover:border-transparent hover:bg-black hover:text-white focus:ring-2"
        >
          
          Other sign-in options
        </button>
      </a>
  </div>
  


</div>
{% endblock content %}
