{% extends 'base.html' %}
{% load i18n %}
{% load allauth %}
{% load static %}

{% block title %}
    Verify Your Email Address
{% endblock title %}

{% block content %}
    <div class="max-w-4xl mx-auto bg-gray-50 border-t-[7px] border-blue-500 text-gray-800 rounded-lg font-[sans-serif]" role="alert">
      <div class="px-8 py-6 max-w-4xl">
        <h4 class="font-bold text-lg mb-3">Verify Your Email Address</h4>
        <p class="text-sm">We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.</p>
      </div>
    </div>
{% endblock content %}
    
    