asgiref==3.10.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
cloudinary==1.44.1
cryptography==46.0.3
Django==5.2.8
django-admin-thumbnails==0.2.9
django-allauth==65.13.0
django-daraja==1.3.0
django-mpesa==2.0.14
django-redis==6.0.0
djangorestframework==3.16.1
django-unfold==0.70.0
idna==3.11
jsonfield==3.2.0
pillow==12.0.0
psycopg2-binary==2.9.11
pycparser==2.23
PyJWT==2.10.1
python-decouple==3.8
setuptools==80.9.0
redis==7.0.1
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
whitenoise==6.11.0
