{% extends 'base.html' %}
{% load i18n %}
{% load allauth %}
{% load static %}

{% block title %}
    Change Password
{% endblock title %}

{% block content %}
    <div class="max-w-4xl mx-auto bg-gray-50 border-t-[7px] border-blue-500 text-gray-800 rounded-lg font-[sans-serif]" role="alert">
      <div class="px-8 py-6 max-w-4xl">
        <h4 class="font-bold text-lg mb-3">Change Password</h4>
        <p class="text-sm">Your password is now changed.</p>
      </div>
    </div>
{% endblock content %}
    
    