{% extends 'base.html' %}

{% block title %}
  Products
{% endblock title %}
  
{% block content %}
<div class="bg-gray-50 px-4 py-8 font-sans">
  <div class="mx-auto md:max-w-4xl lg:max-w-6xl">
    <h2 class="mb-12 text-center text-4xl font-extrabold text-gray-800">
      Top Products
    </h2>
    <div
      class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6"
    >
    {% if products %}
    {% for product in products %}
    <a href="{{product.get_absolute_url}}">
      <div
        class="cursor-pointer rounded-md bg-white p-3 shadow-sm transition-all hover:scale-[1.03]"
      >
        <div
          class="aspect-w-16 aspect-h-8 mx-auto h-[130px] w-full overflow-hidden"
        >
          <img
            src="{{product.image.url}}"
            alt="{{product.product_name}}"
            class="mx-auto block h-full w-5/6 object-contain"
          />
        </div>
        <div class="mt-4 text-center">
          <h3 class="text-sm font-bold text-gray-800"> {{product.product_name}} </h3>
          <h4 class="mt-2 text-base font-bold text-blue-600">${{product.price}} </h4>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p class="text-center">No Products Available</p>
    {% endif %}

    </div>
  </div>
</div>
{% endblock content %}
