<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | Duka shop</title>
    <!--favicon-->
    <link
      rel="icon"
      href="{% static 'images/favicon/favicon.ico' %}"
      type="image/x-icon"
    />


    <!--tailwind styles-->
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body>
    
    {% include 'includes/navbar.html' %}
    {% include 'includes/messages.html' %}
    {% block content %}
    <!--content goes here-->
    {% endblock %}
    {% include 'includes/footer.html' %}
    <script src="https://kit.fontawesome.com/2897fee97b.js" crossorigin="anonymous"></script>
  </body>
</html>
