{% extends 'base.html' %} {% block content %}
<div class="font-sans">
  <div class="grid gap-10 p-4 lg:grid-cols-3">
    <div class="divide-y bg-white lg:col-span-2">
      <div class="flex items-start gap-4 py-4 max-sm:flex-col">
        <div class="h-36 shrink-0">
          <img
            src="https://readymadeui.com/images/product6.webp"
            class="h-full w-full rounded-md object-contain"
          />
        </div>

        <div class="flex w-full items-start gap-4">
          <div>
            <h3 class="mb-1 text-lg font-bold text-gray-800">Black T-Shirt</h3>
            <div class="space-y-1">
              <h6 class="text-sm text-gray-800">
                Size: <strong class="ml-2">7.5</strong>
              </h6>
              <h6 class="text-sm text-gray-800">
                Color: <strong class="ml-2">Black</strong>
              </h6>
            </div>

            <div class="mt-4 flex flex-wrap gap-4">
              <button
                type="button"
                class="flex shrink-0 items-center gap-2 text-sm font-semibold text-red-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="inline w-4 fill-current"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z"
                    data-original="#000000"
                  ></path>
                  <path
                    d="M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"
                    data-original="#000000"
                  ></path>
                </svg>
                Remove
              </button>
              <button
                type="button"
                class="flex shrink-0 items-center gap-2 text-sm font-semibold text-pink-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="inline w-4 fill-current"
                  viewBox="0 0 64 64"
                >
                  <path
                    d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"
                    data-original="#000000"
                  ></path>
                </svg>
                Move to wish list
              </button>
            </div>
          </div>

          <div class="ml-auto text-right">
            <div class="flex items-center justify-end gap-3">
              <button
                type="button"
                class="flex h-5 w-5 items-center justify-center rounded-full bg-blue-600 outline-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-2 fill-white"
                  viewBox="0 0 124 124"
                >
                  <path
                    d="M112 50H12C5.4 50 0 55.4 0 62s5.4 12 12 12h100c6.6 0 12-5.4 12-12s-5.4-12-12-12z"
                    data-original="#000000"
                  ></path>
                </svg>
              </button>
              <span class="text-sm font-bold leading-[18px]">1</span>
              <button
                type="button"
                class="flex h-5 w-5 items-center justify-center rounded-full bg-blue-600 outline-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-2 fill-white"
                  viewBox="0 0 42 42"
                >
                  <path
                    d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z"
                    data-original="#000000"
                  ></path>
                </svg>
              </button>
            </div>

            <div class="mt-4">
              <h4 class="mb-1 text-lg font-bold text-gray-500">
                <strike class="font-medium">$22.5</strike>
              </h4>
              <h4 class="text-lg font-bold text-gray-800">$18.5</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-start gap-4 py-4 max-sm:flex-col">
        <div class="h-36 shrink-0">
          <img
            src="https://readymadeui.com/images/product3.webp"
            class="h-full w-full rounded-md object-contain"
          />
        </div>

        <div class="flex w-full items-start gap-4">
          <div>
            <h3 class="mb-1 text-lg font-bold text-gray-800">Gray T-Shirt</h3>
            <div class="space-y-1">
              <h6 class="text-sm text-gray-800">
                Size: <strong class="ml-2">7.5</strong>
              </h6>
              <h6 class="text-sm text-gray-800">
                Color: <strong class="ml-2">Gray</strong>
              </h6>
            </div>

            <div class="mt-4 flex flex-wrap gap-4">
              <button
                type="button"
                class="flex shrink-0 items-center gap-2 text-sm font-semibold text-red-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="inline w-4 fill-current"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z"
                    data-original="#000000"
                  ></path>
                  <path
                    d="M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"
                    data-original="#000000"
                  ></path>
                </svg>
                Remove
              </button>
              <button
                type="button"
                class="flex shrink-0 items-center gap-2 text-sm font-semibold text-pink-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="inline w-4 fill-current"
                  viewBox="0 0 64 64"
                >
                  <path
                    d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"
                    data-original="#000000"
                  ></path>
                </svg>
                Move to wish list
              </button>
            </div>
          </div>

          <div class="ml-auto text-right">
            <div class="flex items-center justify-end gap-3">
              <button
                type="button"
                class="flex h-5 w-5 items-center justify-center rounded-full bg-blue-600 outline-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-2 fill-white"
                  viewBox="0 0 124 124"
                >
                  <path
                    d="M112 50H12C5.4 50 0 55.4 0 62s5.4 12 12 12h100c6.6 0 12-5.4 12-12s-5.4-12-12-12z"
                    data-original="#000000"
                  ></path>
                </svg>
              </button>
              <span class="text-sm font-bold leading-[18px]">1</span>
              <button
                type="button"
                class="flex h-5 w-5 items-center justify-center rounded-full bg-blue-600 outline-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-2 fill-white"
                  viewBox="0 0 42 42"
                >
                  <path
                    d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z"
                    data-original="#000000"
                  ></path>
                </svg>
              </button>
            </div>

            <div class="mt-6">
              <h4 class="mb-1 text-lg font-bold text-gray-500">
                <strike class="font-medium">$22.5</strike>
              </h4>
              <h4 class="text-lg font-bold text-gray-800">$18.5</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-start gap-4 py-4 max-sm:flex-col">
        <div class="h-36 shrink-0">
          <img
            src="https://readymadeui.com/images/product7.webp"
            class="h-full w-full rounded-md object-contain"
          />
        </div>

        <div class="flex w-full items-start gap-4">
          <div>
            <h3 class="mb-1 text-lg font-bold text-gray-800">Black T-Shirt</h3>
            <div class="space-y-1">
              <h6 class="text-sm text-gray-800">
                Size: <strong class="ml-2">7.5</strong>
              </h6>
              <h6 class="text-sm text-gray-800">
                Color: <strong class="ml-2">Black</strong>
              </h6>
            </div>
            <div class="mt-4 flex flex-wrap gap-4">
              <button
                type="button"
                class="flex shrink-0 items-center gap-2 text-sm font-semibold text-red-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="inline w-4 fill-current"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z"
                    data-original="#000000"
                  ></path>
                  <path
                    d="M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"
                    data-original="#000000"
                  ></path>
                </svg>
                Remove
              </button>
              <button
                type="button"
                class="flex shrink-0 items-center gap-2 text-sm font-semibold text-pink-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="inline w-4 fill-current"
                  viewBox="0 0 64 64"
                >
                  <path
                    d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"
                    data-original="#000000"
                  ></path>
                </svg>
                Move to wish list
              </button>
            </div>
          </div>

          <div class="ml-auto text-right">
            <div class="flex items-center justify-end gap-3">
              <button
                type="button"
                class="flex h-5 w-5 items-center justify-center rounded-full bg-blue-600 outline-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-2 fill-white"
                  viewBox="0 0 124 124"
                >
                  <path
                    d="M112 50H12C5.4 50 0 55.4 0 62s5.4 12 12 12h100c6.6 0 12-5.4 12-12s-5.4-12-12-12z"
                    data-original="#000000"
                  ></path>
                </svg>
              </button>
              <span class="text-sm font-bold leading-[18px]">1</span>
              <button
                type="button"
                class="flex h-5 w-5 items-center justify-center rounded-full bg-blue-600 outline-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-2 fill-white"
                  viewBox="0 0 42 42"
                >
                  <path
                    d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z"
                    data-original="#000000"
                  ></path>
                </svg>
              </button>
            </div>

            <div class="mt-6">
              <h4 class="mb-1 text-lg font-bold text-gray-500">
                <strike class="font-medium">$22.5</strike>
              </h4>
              <h4 class="text-lg font-bold text-gray-800">$18.5</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-start gap-4 py-4 max-sm:flex-col">
        <div class="h-36 shrink-0">
          <img
            src="https://readymadeui.com/images/product8.webp"
            class="h-full w-full rounded-md object-contain"
          />
        </div>

        <div class="flex w-full items-start gap-4">
          <div>
            <h3 class="mb-1 text-lg font-bold text-gray-800">Black T-Shirt</h3>
            <div class="space-y-1">
              <h6 class="text-sm text-gray-800">
                Size: <strong class="ml-2">7.5</strong>
              </h6>
              <h6 class="text-sm text-gray-800">
                Color: <strong class="ml-2">Black</strong>
              </h6>
            </div>
            <div class="mt-4 flex flex-wrap gap-4">
              <button
                type="button"
                class="flex shrink-0 items-center gap-2 text-sm font-semibold text-red-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="inline w-4 fill-current"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z"
                    data-original="#000000"
                  ></path>
                  <path
                    d="M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"
                    data-original="#000000"
                  ></path>
                </svg>
                Remove
              </button>
              <button
                type="button"
                class="flex shrink-0 items-center gap-2 text-sm font-semibold text-pink-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="inline w-4 fill-current"
                  viewBox="0 0 64 64"
                >
                  <path
                    d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"
                    data-original="#000000"
                  ></path>
                </svg>
                Move to wish list
              </button>
            </div>
          </div>

          <div class="ml-auto text-right">
            <div class="flex items-center justify-end gap-3">
              <button
                type="button"
                class="flex h-5 w-5 items-center justify-center rounded-full bg-blue-600 outline-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-2 fill-white"
                  viewBox="0 0 124 124"
                >
                  <path
                    d="M112 50H12C5.4 50 0 55.4 0 62s5.4 12 12 12h100c6.6 0 12-5.4 12-12s-5.4-12-12-12z"
                    data-original="#000000"
                  ></path>
                </svg>
              </button>
              <span class="text-sm font-bold leading-[18px]">1</span>
              <button
                type="button"
                class="flex h-5 w-5 items-center justify-center rounded-full bg-blue-600 outline-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-2 fill-white"
                  viewBox="0 0 42 42"
                >
                  <path
                    d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z"
                    data-original="#000000"
                  ></path>
                </svg>
              </button>
            </div>

            <div class="mt-6">
              <h4 class="mb-1 text-lg font-bold text-gray-500">
                <strike class="font-medium">$22.5</strike>
              </h4>
              <h4 class="text-lg font-bold text-gray-800">$18.5</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="h-max p-6 shadow-md lg:sticky lg:top-0">
      <h3 class="border-b pb-4 text-lg font-bold text-gray-800">
        Order Summary
      </h3>

      <ul class="mt-4 divide-y text-gray-800">
        <li class="flex flex-wrap gap-4 py-3 text-sm">
          Subtotal <span class="ml-auto font-bold">$73.00</span>
        </li>
        <li class="flex flex-wrap gap-4 py-3 text-sm">
          Shipping <span class="ml-auto font-bold">$4.00</span>
        </li>
        <li class="flex flex-wrap gap-4 py-3 text-sm">
          Tax <span class="ml-auto font-bold">$4.00</span>
        </li>
        <li class="flex flex-wrap gap-4 py-3 text-sm font-bold">
          Total <span class="ml-auto">$81.00</span>
        </li>
      </ul>
      <a href="{% url 'payment' %}">
        <button
          type="button"
          class="mt-4 w-full rounded-md bg-blue-600 px-5 py-2.5 text-sm text-white hover:bg-blue-700"
        >
          Make Payment
        </button>
      </a>

      <div class="mt-8">
        <h3 class="mb-4 text-lg font-bold text-gray-800">Apply promo code</h3>

        <div
          class="flex max-w-md overflow-hidden rounded-md border border-blue-600"
        >
          <input
            type="email"
            placeholder="Promo code"
            class="w-full bg-white px-4 py-2.5 text-sm text-gray-600 outline-none"
          />
          <button
            type="button"
            class="flex items-center justify-center bg-blue-600 px-5 text-sm text-white hover:bg-blue-700"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
