<div class="w-screen bg-gray-50">
  <!-- Reviews -->
  <div class="mx-auto my-10 max-w-screen-md px-10 py-16">
    <div class="flex w-full flex-col">
      <div class="flex flex-col sm:flex-row">
        <h1 class="max-w-sm text-3xl font-bold text-blue-900">
          What people think <br />
          about tailwind
        </h1>
        <div
          class="my-4 rounded-xl bg-white px-4 py-2 shadow sm:my-0 sm:ml-auto"
        >
          <div class="flex h-16 items-center text-2xl font-bold text-blue-900">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 w-12 text-yellow-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            4.7
          </div>
          <p class="text-sm text-gray-500">Average User Rating</p>
        </div>
      </div>
      <div class="text-gray-700">
        <p class="font-medium">Reviews</p>
        <ul class="mb-6 mt-2 space-y-2">
          <li class="flex items-center text-sm font-medium">
            <span class="w-3">5</span
            ><span class="mr-4 text-yellow-400"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                /></svg
            ></span>
            <div class="mr-4 h-2 w-96 overflow-hidden rounded-full bg-gray-300">
              <div class="h-full w-10/12 bg-yellow-400"></div>
            </div>
            <span class="w-3">56</span>
          </li>
          <li class="flex items-center text-sm font-medium">
            <span class="w-3">4</span
            ><span class="mr-4 text-yellow-400"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                /></svg
            ></span>
            <div class="mr-4 h-2 w-96 overflow-hidden rounded-full bg-gray-300">
              <div class="h-full w-8/12 bg-yellow-400"></div>
            </div>
            <span class="w-3">12</span>
          </li>
          <li class="flex items-center text-sm font-medium">
            <span class="w-3">3</span
            ><span class="mr-4 text-yellow-400"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                /></svg
            ></span>
            <div class="mr-4 h-2 w-96 overflow-hidden rounded-full bg-gray-300">
              <div class="h-full w-1/12 bg-yellow-400"></div>
            </div>
            <span class="w-3">4</span>
          </li>
          <li class="flex items-center text-sm font-medium">
            <span class="w-3">2</span
            ><span class="mr-4 text-yellow-400"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                /></svg
            ></span>
            <div class="mr-4 h-2 w-96 overflow-hidden rounded-full bg-gray-300">
              <div class="h-full w-0 bg-yellow-400"></div>
            </div>
            <span class="w-3">0</span>
          </li>
          <li class="flex items-center text-sm font-medium">
            <span class="w-3">1</span
            ><span class="mr-4 text-yellow-400"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                /></svg
            ></span>
            <div class="mr-4 h-2 w-96 overflow-hidden rounded-full bg-gray-300">
              <div class="h-full w-1/12 bg-yellow-400"></div>
            </div>
            <span class="w-3">5</span>
          </li>
        </ul>
      </div>
      <button class="w-36 rounded-full bg-blue-900 py-3 font-medium text-white">
        Write a review
      </button>
    </div>
  </div>

  <!-- /Reviews -->
</div>
